@import url('./variables.css');

html,
body {
  font-family: var(--font-text);
  font-size: var(--font-size);
  line-height: 1.5;
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--font-heading);
  color: var(--color-heading);
}

p {
  margin: 0;
  font-family: var(--font-text);
  font-size: var(--font-size);
  color: var(--color-text);
  line-height: calc(1rem * 1.3);
}

a {
  font-family: var(--font-link);
  font-weight: 400;
  color: var(--color-link);
  text-decoration: underline;
}

.highlight {
  --color-highlight: var(--color-mustard);
  background:
    linear-gradient(
      104deg,
      color-mix(in srgb, var(--color-highlight) 0%, transparent) 0.9%,
      color-mix(in srgb, var(--color-highlight) 1.25%, transparent) 2.4%,
      color-mix(in srgb, var(--color-highlight) 50%, transparent) 5.8%,
      color-mix(in srgb, var(--color-highlight) 10%, transparent) 93%,
      color-mix(in srgb, var(--color-highlight) 70%, transparent) 96%,
      color-mix(in srgb, var(--color-highlight) 0%, transparent) 98%
    ),
    linear-gradient(
      183deg,
      color-mix(in srgb, var(--color-highlight) 0%, transparent) 0%,
      color-mix(in srgb, var(--color-highlight) 30%, transparent) 7.9%,
      color-mix(in srgb, var(--color-highlight) 0%, transparent) 15%
    );
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  margin: 0;
  padding: 0.2rem 0.4rem;
  margin: -0.2rem -0.4rem;
  border-radius: 5px 0 0 7.5px;
  text-shadow:
    -1px 1px 2.4px color-mix(in srgb, var(--color-highlight) 70%, transparent),
    3px -3px 5px var(--color-highlight),
    -4.5px -6.5px 7.5px
      color-mix(in srgb, var(--color-highlight) 40%, transparent),
    -2px 4px 2px color-mix(in srgb, var(--color-highlight) 20%, transparent);
}
