@import url('./variables.css');

html,
body {
  font-family: var(--font-text);
  font-size: var(--font-size);
  line-height: 1.5;
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--font-heading);
  color: var(--color-heading);
}

p {
  margin: 0;
  font-family: var(--font-text);
  font-size: var(--font-size);
  color: var(--color-text);
  line-height: calc(1rem * 1.3);
}

a {
  font-family: var(--font-link);
  font-weight: 400;
  color: var(--color-link);
  text-decoration: underline;
}

.highlight {
  background:
    linear-gradient(
      104deg,
      rgba(249, 184, 93, 0) 0.9%,
      rgba(249, 184, 93, 1.25) 2.4%,
      rgba(249, 184, 93, 0.5) 5.8%,
      rgba(249, 184, 93, 0.1) 93%,
      rgba(249, 184, 93, 0.7) 96%,
      rgba(249, 184, 93, 0) 98%
    ),
    linear-gradient(
      183deg,
      rgba(249, 184, 93, 0) 0%,
      rgba(249, 184, 93, 0.3) 7.9%,
      rgba(249, 184, 93, 0) 15%
    );
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  margin: 0;
  padding: 0.2rem 0.4rem;
  margin: -0.2rem -0.4rem;
  border-radius: 5px 0 0 7.5px;
  text-shadow:
    -1px 1px 2.4px rgba(249, 184, 93, 0.7),
    3px -3px 5px rgba(255, 255, 255, 1),
    -4.5px -6.5px 7.5px rgba(255, 255, 255, 1);
}
