:root {
  /* *------------------------------ Colors --------------------------------* */

  --color-beige: rgb(244 238 217 / 100%);
  --color-red: rgb(255 0 0 / 100%);
  --color-brown: rgb(179 120 68);
  --color-mustard: rgb(249 184 93 / 100%);
  --color-viridian: rgb(59 112 125 / 100%);
  --color-mint: rgb(90 171 130 / 100%);
  --color-cerulean: rgb(46 124 246 / 100%);
  --color-white: rgb(255 255 255 / 100%);
  --color-black: rgb(0 0 0 / 100%);
  --color-grey: rgb(100 100 100 / 100%);
  --color-pink: rgb(252, 117, 139);

  /* --- Typography colors --- */
  --color-text: var(--color-black);
  --color-text-light: var(--color-grey);
  --color-text-highlight: var(--color-mustard);
  --color-heading: var(--color-black);

  /* --- Status colors --- */
  --color-success: var(--color-mint);
  --color-success-light: rgb(90 171 130 / 30%);
  --color-success-dark: rgb(60 141 100);

  --color-error: var(--color-red);
  --color-error-light: rgb(255 0 0 / 30%);
  --color-error-dark: rgb(150 0 0);

  --color-warning: var(--color-mustard);
  --color-warning-light: rgb(249 184 93 / 30%);
  --color-warning-dark: rgb(219 154 63);

  --color-primary: var(--color-cerulean);
  --color-primary-light: rgb(46 124 246 / 30%);
  --color-primary-dark: rgb(16 94 216);

  /* --- Background colors --- */
  --color-background: var(--color-beige);
  --color-background-light: var(--color-white);

  /* *------------------------------ Fonts --------------------------------* */

  --font-text: 'Crimson Pro', sans-serif;
  --font-heading: 'Helvetica', sans-serif;
  --font-button: 'Sometype Mono', monospace;
  --font-link: 'Sometype Mono', monospace;
  --font-size: 16px;

  /* *----------------------------- Spacing --------------------------------* */

  --padding-mobile: 1rem;
  --padding-tablet: 2rem;
  --padding-desktop: 3rem;

  /* *------------------------------ Layout --------------------------------* */
  --header-height: 90px;
  --footer-height: 328px;
  --max-width: 1000px;
  --full-height-header-footer: calc(
    100vh - (var(--footer-height) + var(--header-height))
  );

  @media (min-width: 768px) {
    --header-height: 120px;
  }
}
