.DS_Store

node_modules
.env
.env.prod

# Nginx generated config
nginx/conf/app.conf

# SSL related
nginx/ssl/*
!nginx/ssl/.gitkeep

# Ignore dummy data
initial-data/*

# Database backups
/backups/

# Private project management
TODO