.DS_Store

node_modules
.env
.env.prod

# Nginx generated config
nginx/conf/app.conf

# SSL related
nginx/ssl/*
!nginx/ssl/.gitkeep

# Ignore dummy data
initial-data/*

# Supabase volumes
/supabase/volumes/db/data/
/supabase/volumes/storage/*
!/supabase/volumes/storage/.gitkeep

# Logs
/supabase/volumes/logs/*
!/supabase/volumes/logs/.gitkeep

/supabase/scripts/initial_data.sql

# Keep function code
!/supabase/volumes/functions/*
/supabase/volumes/functions/.DS_Store

# Database backups
/backups/
