.DS_Store

node_modules
.env
.env.prod

# Nginx generated config
nginx/conf/app.conf

# SSL related
nginx/ssl/*
!nginx/ssl/.gitkeep

# Ignore dummy data
dummy-data/*

# Supabase volumes
/volumes/db/data/
/volumes/storage/*
!/volumes/storage/.gitkeep

# Logs
/volumes/logs/*
!/volumes/logs/.gitkeep

# Keep sql files
!/volumes/db/*.sql
!/volumes/db/init/*.sql

# Keep function code
!/volumes/functions/*

# Database backups
/backups/