@import url('./variables.css');
@import url('./typography.css');

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  background-color: var(--light-beige);
}

main {
  padding: var(--padding);
}

img {
  width: 100%;
  object-fit: cover;
}
