:root {
  /* *------------------------------ Colors --------------------------------* */

  --light-beige: rgb(244 238 217 / 100%);
  --red: rgb(255 0 0 / 100%);
  --brown: rgb(179 120 68);
  --mustard: rgb(249 184 93 / 100%);
  --viridian: rgb(59 112 125 / 100%);
  --mint: rgb(90 171 130 / 100%);
  --cerulean-blue: rgb(46 124 246 / 100%);
  --white: rgb(255 255 255 / 100%);
  --black: rgb(0 0 0 / 100%);
  --grey: rgb(100 100 100 / 100%);

  /* --- Typography colors --- */
  --text-color: var(--black);

  /* *------------------------------ Fonts --------------------------------* */

  --text-font: 'Crimson Pro', sans-serif;
  --heading-font: 'Helvetica', sans-serif;
  --button-font: 'Sometype Mono', monospace;
  --link-font: 'Sometype Mono', monospace;
  --base-font-size: 16px;
  --heading-color: var(--black);

  /* *----------------------------- Spacing --------------------------------* */

  --padding: 1rem;

  /* *------------------------------ Layout --------------------------------* */
  --header-height: 100px;
}
